<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/header :: header-link"></head>
<body>
    <div class="wrapper">
        <div th:fragment="sidebar" th:replace="layout/body :: sidebar" ></div><!--sidebar -->
        <header th:replace="layout/body :: header"></header> <!-- header -->
        
        <!--Actual Processing Section Start-->
           <div class="page-wrapper">
			<div class="page-content">
				<!--breadcrumb-->
                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
					<div class="breadcrumb-title pe-3">WFHS</div>
					<div class="ps-3">
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb mb-0 p-0">
								<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Division List</li>
							</ol>
						</nav>
					</div>
                </div>
				<!--end breadcrumb-->
                <div class="card">
					<div class="card-body">
						<div sec:authorize="hasAuthority('HR')">
						<div class="d-lg-flex align-items-center mb-4 gap-3" >
							<div class="ms-auto">
								<div class="col">
									<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal2">
										<i class="bx bxs-plus-square"></i>New Divisions
									</button>
									<!-- Modal -->
									<div class="modal fade" id="exampleVerticallycenteredModal2" tabindex="-1" aria-hidden="true">
										<div class="modal-dialog modal-dialog-centered">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Add Division</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
													<div class="modal-body">
						                                <div class="row mb-3">
						                                	<label for="input43" class="col-sm-3 col-form-label">Division Code</label>
						                                	<div class="col-sm-9">
						                                		<input type="text" class="form-control" id="codeDivision" name="codeDivision" th:field="${division.code}" readonly>
						                                	</div>
						                                </div>
						                                <div class="row mb-3">
						                                	<label for="input43" class="col-sm-3 col-form-label">Division Name</label>
						                                	<div class="col-sm-9">
						                                		<input type="text" class="form-control" id="nameDivision" name="nameDivision" th:field="${division.name}">
						                                	</div>
						                                </div>
						                            </div>
						                        	<div class="modal-footer">
														<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="saveChangeBtnDivision">Save Change</button>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							</div>
							<div class="table-responsive">
								<table class="table mb-0">
									<thead class="table-light">
										<tr>
											<th>No</th>
											<th>Division Code</th>
											<th>Division Name</th>
											<th>Edit</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="divisions,increator: ${divisions}">
											<td>
												<div class="d-flex align-items-center">
													<div class="ms-2">
														<h6 class="mb-0 font-14" th:text="${increator.index + 1}"></h6>
													</div>
												</div>
											</td>
											<td th:text="${divisions.code}"></td>
											<td th:text="${divisions.name}"></td>
											<td>
												<div class="d-flex order-actions">
													<a href="#" class="edit-division-btn" data-bs-toggle="modal" data-bs-target="#editDivisionModal" 
														th:data-division-code="${divisions.code}" th:data-division-name="${divisions.name}">
								                        <i class='bx bxs-edit'></i>
								                    </a>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
								<div class="modal fade" id="editDivisionModal" tabindex="-1" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title">Edit Division</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="row mb-3">
							                    	<label for="input42" class="col-sm-3 col-form-label">Division Code</label>
							                        <div class="col-sm-9">
							                        	<input type="text" class="form-control" id="divisionCode" name="divisionCode" readonly>
							                        </div>
							                  	</div>
							                    <div class="row mb-3">
							                   		<label for="input42" class="col-sm-3 col-form-label">Division Name</label>
							                        	<div class="col-sm-9">
							                            	<input type="text" class="form-control" id="divisionName" name="name">
							                            </div>
							                    </div>
							                </div>
							                <div class="modal-footer">
												<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="updateDivisionBtn">Save Change</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="table-responsive" sec:authorize="hasAnyAuthority('CISO','CEO')">
							<table class="table mb-0">
								<thead class="table-light">
									<tr>
										<th>No</th>
										<th>Division Code</th>
										<th>Division Name</th>
										<th>View Departments</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="divisions,increator: ${divisions}">
										<td>
											<div class="d-flex align-items-center">
												<div class="ms-2">
													<h6 class="mb-0 font-14" th:text="${increator.index + 1}"></h6>
												</div>
											</div>
										</td>
										<td th:text="${divisions.code}"></td>
										<td th:text="${divisions.name}"></td>
										<td><a th:href="@{/department-list-id(id=${divisions.id})}" class="btn btn-primary btn-sm radius-30 px-4">View Departments</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
            </div>
        </div>
        <!--Actual Processing Section Start-->
<div th:include="layout/footer"></div>