<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="assets/images/DAT Logo.png" type="image/png" />
	<link rel="stylesheet" href="assets/css/login.css">
	<title>WFHS Reset Password</title>
</head>

<body>
	<div class="container">
        <div class="screen">
            <div class="screen__content">
                <div style="top: 40px; left: 100px; position: relative;">
                    <img src="assets/images/DAT Logo.png" alt="Logo"
                        style="width: 80px; height: auto; left: 100px; position: relative;" >
					</div>
				<div style=" top: 80px; left: 30px; position: relative;">
                    <h2 class="">Work From Home System</h2>
                    <br>
                    <h4 class="">Generate New Password</h4>
                    <br>
                    <p class="">We received your reset password request. Please enter
                        OTP code received from email and your new password!</p>
                </div>
                <form class="login" th:action="@{/reset-password}" method="post">
                	<div class="user-box">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="email" class="login__input" required>
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="otp" class="login__input" required>
                        <label>OTP Code</label>
                    </div>
                    <div class="user-box">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" name="password" class="login__input" required>
                        <label>New Password</label>
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Change Password</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                    <br>
                    <div class="d-grid gap-2">
                        <a th:href="@{/login}" class="btn btn-light"><i class='bx bx-arrow-back me-1'></i>Back to
                            Login</a>
                    </div>
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>
</body>

</html>